node_modules
.DS_Store
dist
build
.env
.env.local
backend/.env
frontend/.env
backend/node_modules
frontend/node_modules
*.log
*firebase-adminsdk*.json
*.apk
!backend/downloads/Warriors-Parent-1.1.apk
*.aab
